project:
  type: website
  output-dir: _site

website:
  title: "Essha Khan"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format:
  html:
    theme: journal
    toc: true
